/* animation: fade 1s ease-in-out; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Left: 00C6FF
Right: 0072FF */

/* .c {
    color: #56daf3;
}
.i {
    color: #0f57ff;
}
.o {
    color: #2365ff;
} */
.c {
  /* color: #fff; */
  color: #0002c2;
}
.o {
  color: #003459;
}
.d {
  color: #001c30;
}

/* .hero-logo h3{
    position: relative;
    top: 1.9rem;
    left: 3rem;
    font-size: 3rem;
} */

.hero {
  width: 100%;
  height: 85vh;
  background: rgb(0, 198, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 198, 255, 0.9950105042016807) 2%,
    rgba(0, 114, 255, 1) 100%
  );
}

.hero-logo img {
  width: 6rem;
  height: 6rem;
  margin: 1.2rem;
}

.hero-logo .dev {
  font-size: 3.3rem;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  /* left: 7.7rem;
 bottom: 6.9rem; */
  left: 8rem;
  top: 2rem;
}

.hero-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

@media (max-width: 600px) {
  .hero-img dotlottie-player {
    display: none;
  }
 
}
@media (max-width: 900px) and (min-width: 600px) {
 

  .hero-img dotlottie-player{
    width: 75%;
    height: 50%;

    position: absolute;
    left: 13vw;

    /* right: 48vw; */
    top: 50vh;
  }
}

@media (min-width: 900px) {
  .hero-img dotlottie-player {
    width: 70%;
    height: 60%;

    position: absolute;
    left: 15vw;
    top: 45vh;
  }
}

.hero-img img {
  /* display: inline; */

  border: 8px solid black;
  border-radius: 20px;
}

.hero-head {
  line-height: 4rem;
  margin-bottom: 25rem;
}

.hero-head h2 {
  color: #fff;
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1;
  font-weight: 700;
}
.hero-head p {
  color: #003459;
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 700;
}




@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* button */
.button {
    margin-top: 2.3rem;
}

.button a {
    width: 50px;
    
    padding: 15px;
    
    transform: translate(-50%, -50%);
    
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    background: rgb(0, 198, 255);
    /* background: linear-gradient(90deg, rgba(0,198,255,0.9950105042016807) 2%, rgba(0,114,255,1) 100%); */
    
  /* background: linear-gradient(90deg, yellow,orange,red,violet,purple,blue,yellow); */
  background: linear-gradient(
    90deg,
    rgba(0, 114, 255, 1),
    rgba(5, 152, 193, 0.995),
    red,
    purple,
    blue,
    yellow
  );
  background-size: 400%;
  border-radius: 10px;
  z-index: 1;
  animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

/* button finish */

@media (max-width: 480px) {
    .hero-head h2{
        font-size: 3rem ;
    }
    .hero-head p{
        font-size: 1.4rem;
    }
    .button a{
        font-size:1.2rem ;
        padding: 20px;
    }
    .hero-logo img {
        width: 4rem;
        height: 4rem;
        margin: 1.2rem;
      }

      .hero-logo .dev {
        font-size: 3rem;
        font-weight: 700;
      
        position: absolute;
       
        left: 6rem;
        top: 1rem;
      }

      .hero {
        height:75vh ;
      }
}