
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    /* background-color: black; */
    font-family: 'Poppins', sans-serif;
}

.timer-button {
    display:flex ;
    flex-direction: row ;
    justify-content: center;
    

    
    background: linear-gradient(136deg, #6d88fa 0, #ff6a72 52.6%, #bdff9d 100%);
     background: linear-gradient(136deg,#00C6FF,#0072FF); 
}

.timer {
    display: flex;
    color: #fff;
    margin-right: 10px;
}

.num { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0072FF;
    border: 2px solid black;
    background-color: #fff;
    margin: 6px;
    width: 70x;
    height: 40px;
    padding: 9px;
    border-radius:15px ;
    box-shadow: 0px 0px 0px 0px white;
}

.timer-content {
    color: rgb(253, 253, 253);
    margin:10px ;
}



.colon{
    margin-top: 5px;
    font-size: 2rem ;
} 


@media (max-width:700px) {
    
    .timer-content{
        display: none;
    }
}

/* .timer-button {
    margin-top: 2.4rem;
    display: flex;
    height: 5.6rem;
    width: 100%;
} */




/* .timer-content h1{
   position: relative;
    left: 70%;
    margin-top: 1.3rem;
    font-size: 2rem;
color: #ffff;
}

.timer {
    display: flex;
    position: relative;
    left: 30%;
    /* margin-top: 0.1rem; */
   
/* }
.colon{
    margin-top: 1rem;
    color: white;
    font-weight: 800;
}

.clock {
    margin: 0.5rem 1.3rem;
    margin-top: 0.5rem;
    height: 2.8rem;
    width: 3.5rem;
    background-color: #ffff;
    border-radius: 14%;

}
.num span{
    position: relative;
    top: 2.3rem;
    font-size: 1rem;
     font-weight: bold;
     align-items: center;
     justify-content: center;
     color: aliceblue;
 
 }
.num p{
    position: absolute;
    margin-left: 0.8rem;
    font-size: 1.7rem;
    margin-top: -0.8rem;
} */

 
